.container {
  display: flex !important;
  flex-direction: column;
  min-height: 100vh;
}

.tasks {
  padding: 20px;
  flex-basis: 50%;
}

.no-data {
  text-transform: uppercase;
  font-weight: bold;
}

.main {
  flex: 1
}
