.container {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks {
  padding: 20px;
  flex-basis: 50%;
}

.no-data {
  text-transform: uppercase;
  font-weight: bold;
}
