.container {
  max-width: 500px;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-transform: uppercase;
  font-size: 25px;
}

.description {
  margin: 10px 0;
  width: 100%;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.info-control {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.description-mode {
  cursor: pointer;
}

.status {
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background: #fff;
  border-radius: 5px;
  padding: 10px 5px;
  cursor: pointer;
}

.delete {
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background: #fff;
  border-radius: 5px;
  padding: 10px 5px;
  cursor: pointer;
}
