.form {
  max-width: 350px;
  width: 100%;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #6a62ea;
  color: #fff;
  input {
    border-radius: 5px;
    border: none;
    outline: none;
  }
}

.description-field {
  padding: 0 5px;
  flex-basis: 60%;
}

.title {
  align-self: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.group {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  label {
    margin-right: 10px;
  }
}

.confirm {
  align-self: flex-end;
  margin: 10px 0;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background: #fff;
  border-radius: 5px;
  padding: 10px 5px;
  cursor: pointer;
}
