.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #6a62ea;
  color: #fff;
}

.logout {
  cursor: pointer;
}

.image {
  background-size: cover;
  cursor: pointer;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  div {
    margin: 0 20px;
  }
}
